{% extends 'layout.html' %}

{% block title %}Contato - Moraes e Ferreira{% endblock %}

{% block content %}

  <h1>Contato</h1>

  <img srcset="/images/img-contato-568.png 640w, /images/img-contato.png 1024w" src="/images/img-contato.png" alt="Contato" class="pure-img" />

  <p>Focado em Consultoria Estratégica Financeira. Possuímos escritório em São Paulo. Entre em contato conosco para entendermos a sua demanda.</p>

  <p>E-mail: <a href="mailto:mf-consultoria@outlook.com">mf-consultoria@outlook.com</a><p>

  <p><b>Carlos Moraes</b><br/>
  Cel. 9.4104-3931</p>

  <p><b>Bruno Ferreira</b><br/>
  Cel. 9.9939-2145</p>

{% endblock %}
