  <h1>Quem somos</h1>

  <p>Temos um time de profissionais habilitado para a execução dos passos definidos no plano e poderá auxiliar a sua empresa a alcançar os objetivos traçados de forma mais fácil e econômica.</p>

  <p>O resultado da análise mensal nos permitirá determinar exatamente os pontos que precisarão ser alterados para que a empresa volte a gerar caixa e potencializar a lucratividade, reestruture o seu endividamento, vislumbre novas oportunidades de crescimento e posicione-se estrategicamente para os desafios de longo prazo.</p>

  <h2>Carlos Moraes</h2>

  <p>Possui MBA em Controladoria e bacharel em contabilidade. Tem experiência como gestor em empresas de pequeno, médio e grande porte nos seguimentos de Prestação de Serviços, Eventos, Indústria, Holding e Telecom. É consultor na área de planejamento financeiro e contabilidade, é casado, gosta de música, filmes e motocicletas.</p>

  <h2>Bruno Ferreira</h2>

  <p>É Pós-Graduado em Finanças e controladoria e bacharelado em Administração de empresas. Possui experiência como gestor financeiro em empresas de pequeno, médio e grande porte dos seguimentos de Energia, Industria, Construção Civil, Prestação de Serviços e Telecom. É consultor na área de planejamento financeiro e business plan, é casado, tem uma filha, gosta de música e vinho.</p>
